{% extends 'layout.html' %}
{% block content %}
    <section class="section">
        <h1 class="title">회원가입</h1>
        <h2 class="subtitle">닉네임과 비밀번호 설정</h2>
    </section>

    <section class="section">
        <form method="post">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">닉네임</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-medium" type="text" name="nickname" value="{{ nickname }}" maxlength="32">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">비밀번호</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-medium" type="password" name="password" required="required" minlength="8">
                        </p>
                    </div>
                </div>
            </div>
            <button type="submit" class="button is-link is-medium is-fullwidth">다음</button>
        </form>
    </section>
{% endblock %}