{% extends 'layout.html' %}
{% block content %}
    <section class="section">
        <h1 class="title">회원가입</h1>
        <h2 class="subtitle">이메일 인증</h2>
    </section>

    <section class="section">
        <form method="post">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">이메일 주소</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-medium" name="email" type="email" placeholder="이메일 주소" required="required">
                        </p>
                    </div>
                </div>
            </div>
            <button type="submit" class="button is-link is-medium is-fullwidth">다음</button>
        </form>
    </section>
{% endblock %}