{% extends 'layout.html' %}
{% block content %}
    <section class="section">
        <h1 class="title">애플리케이션 등록</h1>
    </section>

    <section class="section">
        <form method="post">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">이름</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-medium" type="text" name="name" required="required" maxlength="20">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">홈페이지</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-medium" type="url" name="homepage" required="required" maxlength="32">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">콜백 링크</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input is-medium" type="url" name="callback" required="required" maxlength="500">
                        </p>
                    </div>
                </div>
            </div>
            <button type="submit" class="button is-link is-medium is-fullwidth">다음</button>
        </form>
    </section>
{% endblock %}