{% extends 'layout.html' %}
{% block content %}
    <section class="section">
        <h1 class="title">{{ app.name }}</h1>
        <h2 class="subtitle">by {{ owner.nickname }}</h2>
    {% if is_owner %}
        <div class="block">
            <a class="button is-link is-medium" href="{{ url_for('dashboard.application.detail.edit', app_idx=app.idx) }}">수정하기</a>
            <a class="button is-danger is-medium" href="{{ url_for('dashboard.application.detail.delete', app_idx=app.idx) }}">삭제하기</a>
        </div>
    {% endif %}
    </section>

    <section class="section">
        <h2 class="title is-4">어플리케이션 정보</h2>
        <div class="content is-large">
        {% if is_owner %}
            <div class="columns">
                <div class="column is-one-fifth">앱 아이디</div>
                <div class="column"><button class="button is-info copy" data-clipboard-text="{{ app.idx }}">복사하기</button></div>
            </div>
            {% set copy = true %}
        {% endif %}
            <div class="columns">
                <div class="column is-one-fifth">홈페이지</div>
                <div class="column"><a href="{{ app.homepage }}">{{ app.homepage }}</a></div>
            </div>
            <div class="columns">
                <div class="column is-one-fifth">등록날짜</div>
                <div class="column">{{ app.date }}</div>
            </div>
            <div class="columns">
                <div class="column is-one-fifth">개발자 이메일</div>
                <div class="column"><a href="mailto:{{ owner.email }}">{{ owner.email }}</a></div>
            </div>
        </div>
    </section>

{% if token is not none %}
    <section class="section">
        <h2 class="title is-4">로그인 정보</h2>
        <div class="content is-large">
            <div class="columns">
                <div class="column is-one-fifth">로그인 날짜</div>
                <div class="column">{{ token.date }}</div>
            </div>
            <div class="columns">
                <div class="column is-one-fifth">허용된 권한</div>
                <div class="column">{{ token.scope|scope_display }}</div>
            </div>
        </div>
        <a class="button is-danger" href="{{ url_for('oauth.revoke', app_idx=app.idx) }}">취소하기</a>
    </section>
{% endif %}

{% if is_owner %}
    <section class="section" id="secret_key">
        <h2 class="title is-4">시크릿 키</h2>
        <div class="content is-large">
        {% if secret is not none %}
            <div class="columns">
                <div class="column is-one-fifth">생성날짜</div>
                <div class="column">{{ secret.date }}</div>
            </div>
        {% else %}
            <div class="columns">
                <div class="column is-one-fifth">생성날짜</div>
                <div class="column">없음</div>
            </div>
        {% endif %}
        {% if key is not none %}
            <div class="columns">
                <div class="column is-one-fifth">시크릿 키</div>
                <div class="column"><button class="button is-primary copy" data-clipboard-text="{{ key }}">복사하기</button></div>
            </div>
            {% set copy = true %}
        {% endif %}
        </div>
    {% if secret is not none %}
        <a class="button is-danger" href="{{ url_for('dashboard.application.secret.delete', app_idx=app.idx) }}">삭제하기</a>
    {% else %}
        <a class="button is-link" href="{{ url_for('dashboard.application.secret.create', app_idx=app.idx) }}">생성하기</a>
    {% endif %}
    </section>
{% endif %}

{% endblock %}

{% block script %}

    {% if copy is not none %}
        <script src="{{ url_for('static', filename='clipboard.min.js') }}"></script>
        <script>
            new ClipboardJS(".copy").on("success",function(){window.alert("복사되었습니다!"),window.getSelection().removeAllRanges();});
        </script>
    {% endif %}

{% endblock %}