<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>

        <meta name="theme-color" content="#ffffff">
        <meta name="author" content="chick_0,KokoseiJ">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <meta property="og:type" content="website">
        <meta property="og:locale" content="ko_KR">
        <meta property="og:title" content="Dashboard">
        <meta property="og:description" content="">
        <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
    </head>
    <body class="container">
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="DashboardNavbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="DashboardNavbar">
            {% if session.get("user", none) is not none %}
                {% set login = true %}
            {% else %}
                {% set login = false %}
            {% endif %}

                <div class="navbar-start">
                {% if login is true %}
                    <a class="navbar-item" href="{{ url_for('dashboard.logout') }}">로그아웃</a>
                    <a class="navbar-item" href="{{ url_for('dashboard.dashboard') }}">대시보드</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">앱 관리하기</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('dashboard.application.show_all') }}">로그인한 앱</a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{{ url_for('dashboard.application.my') }}">내 앱</a>
                            <a class="navbar-item" href="{{ url_for('dashboard.application.register') }}">앱 등록하기</a>
                        </div>
                    </div>
                {% else %}
                    <a class="navbar-item" href="{{ url_for('dashboard.login.form') }}">로그인</a>
                    <a class="navbar-item" href="{{ url_for('dashboard.register.form') }}">회원가입</a>
                {% endif %}
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <script src="{{ url_for('static', filename='bulma-burger.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>